<!doctype html>
<html lang="en" ng-app="myApp">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Concept Title Services</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Anaheim' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Biryani' rel='stylesheet'>
  <link rel="stylesheet" href="css/lib/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="css/app.1.css" />
</head>

<body>
  <div class="body" ng-controller="AppCtrl">
    <header>
      <div class="container  mb-3 mt-2">
        <div class="float-left">
          <img src="images/logo.PNG" alt="company logo" class="logo">
        </div>
        <div class="float-left ml-5 pt-2 pb-0">
          <div class="logotext">
              <span class="init">C</span><span>oncept</span><span class="init"> T</span><span>itle</span><span class="init"> S</span><span>ervices</span>
          </div>
        </div>
        <div class="float-right">
          <ul id="cts-nav">
            <li ng-class="{'active': currentpage == '/home' }">
              <a href="home">Home</a>
            </li>
            <li ng-class="{'active': currentpage == '/about' }">
              <a href="about">
                About us
              </a>
            </li>
            <li ng-class="{'active': currentpage == '/titlesearch' ||  currentpage == '/commitmenttyping' ||  currentpage == '/taxservices' || currentpage == '/settlementservices'}">
              <a href="titlesearch">
                Services
              </a>
            </li>
            <li ng-class="{'active': currentpage == '/careers' }">
              <a href="careers">
                Careers
              </a>
            </li>
            <li ng-class="{'active': currentpage == '/contact' }">
              <a href="contact">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </header>
    <section>
      <div class="container">
              <div ng-view></div>
      </div>
    </section>
    <div class="push"></div>
  </div>
  <footer class="footer text-center bg-dark">
    <div class="footercontainer">
      <span class="text-muted">Copyright 2018. All rights reserved.</span>
    </div>
  </footer>

  <script src="js/lib/jquery/jquery.min.js"></script>
  <script src="js/lib/popper/popper.min.js"></script>
  <script src="css/lib/bootstrap/bootstrap.min.js"></script>
  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/lib/angular-route/angular-route.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>

</html>