<div class="row">
    <div class="col-md-12">
            <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Who we are
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                    Concept Title & Settlement Services is privately owned and operated. Just like most businesses we come from humble beginnings and are proud of our local heritage here in Houston, Texas. One of the most important lessons we’ve learned throughout the years is to always keep customer care a top priority. If you take care of your customers they will take care of you. We treat each client like our only customer. We pay attention to what our clients need and respond with true solutions not just products. We communicate quickly and intentionally to ensure our clients are in the know. We have fast turnaround times with unprecedented quality. We work to make our clients look good. We make it happen.
                            </p>
                            <p>
                                    CTS consistently provides timely title searches, tax reports, and settlement services to mortgage loan originators, lenders and servicers while maintaining the highest standards of quality through the effective use of technology delivered by a well-trained, professional staff.”
                            </p>
                            <p>We treat each client like our only customer. We pay attention to what our clients need and respond with true solutions not just products. We communicate quickly and intentionally to ensure our clients are in the know. We have fast turnaround times with unprecedented quality. We work to make our clients look good. We make it happen.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Why choose us
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <p>
                                    Extraordinary Service is our difference, extraordinary service is our mission. Our founder believed the combination of the right technology and the right people, could build a title service firm that would both promise and deliver extraordinary service to the lending market.
                            </p>
                            <p>
                                    <b><u>Safety & Security:</u></b> 
                                    We employ the highest standard of technology available in order to make sure all personal information is safe and secure throughout the entire transaction
                            </p>
                            <p>
                                    <b> <u>Communication is Key:</u> </b>
                                    We’re right in the mix of things to make sure all involved parties are informed throughout the entire transaction; from start to finish.
                            </p>
                                
                                
                                
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Mission
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                                <p>CTS mission is to be the premier real estate settlement service provider focused on customer service. We will utilize the highest level of technology, along with the most talented and ethical staff, to develop partnerships with our customers and communities. We will work toward our continued goal of growth, both locally and nationally.</p>
                                <p>Extraordinary Service is our difference, extraordinary service is our mission. Our founder believed the combination of the right technology and the right people, could build a title service firm that would both promise and deliver extraordinary service to the lending market.</p>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
</div>

