<div class="row">
    <div class="col-md-9">
            <div class="p-0 mb-5">  
                    <div class="row">
                        <div class="col-md-5">
                                <img src="images/Commitment-typing.png" class="header-image" alt="">
                        </div>
                        <div class="col-md-7">
                                <article class="tile">
                                        <div class="article-container headcontainer">
                                                <div class="article-title">
                                                    <h1> Commitment Typing</h1>
                                                </div>
                                                <div class="article-text">
                                                        <p>
                                                                The completed Title Search (whether compiled by CTS directly or a third party) will be used as a base for preparing the Prelim
                                                                or Commitment.
                                                            </p>
                                                            <p>
                                                                Title Searches from third party abstractors must contain the all relevant information regarding deed history, open liens,
                                                                taxes, exceptions, CC&Rs, maps, etc. Title will then be examined and all pertinent data will be entered directly
                                                                into the title software of choice.
                                                            </p>
                                                </div>
                                            </div>
                                </article>
                        </div>
                    </div>
                </div>
        <article class="tile">
            <div class="article-container">
                <div class="article-text">
                    <p>We key in all standard and state specific exceptions based on the underwriter's requirements and relevant information
                        in order to prepare the ALTA policy document.</p>
                        <hr>
                    <p>All the necessary requirements and exceptions will be raised.</p>
                    <hr>
                    <p> Upon completion the processor will once again check all of the information on the title commitment for accuracy
                        before submission. 
        
                    </p>
                    <hr>
                    <p>
                        Our experienced staff is well versed with all leading title software such as ResWare, Ramquest, Soft Pro etc. Commitment
                        preparation can be completed at client's convenience whether it be during or after business hours
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-3">
        <sub-menu current-item="commitmenttyping"/>
    </div>
</div>
