<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Address</h5>
                <p class="card-text">19703 Hubbard Creek Court,
                    <br> Cypress, Texas – 77433</p>
                <a href="https://goo.gl/maps/EuCQzekMbgs" target="_blank" class="btn btn-primary">Open in google maps</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Phone</h5>
                <p class="card-text">832-220-3289
                    <br> 832-576-7477</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sales Enquiry</h5>
                    <p class="card-text"><a href="mailto:mailto:alan@ctservices.com">alan@ctservices.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Service</h5>
                    <p class="card-text"><a href="mailto:customerservice@ctservices.com">customerservice@ctservices.com</a></p>
                </div>
            </div>
        </div>
    </div>
