<div class="mb-5">
    <div id="carouselExampleControls" class="carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images/houses.jpg" alt="First slide">
                <div class="carousel-text">
                    <p>
                        Welcome to Concept Title Services. We provide timely title searches, tax reports, and settlement services to mortgage loan
                        originators, lenders and servicers
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/arch.jpg" alt="Second slide">
                <div class="carousel-text">
                    <p>
                        One of the most important lessons we’ve learned throughout the years is to always keep customer Service a top priority.
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/arch2.jpg" alt="Third slide">
                <div class="carousel-text">
                    <p>
                        We treat each client like our only customer. We communicate quickly and intentionally to ensure our clients are in the know.
                        We have fast turnaround times with highest quality. We make it happen.
                    </p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="panels mb-5 d-flex justify-content-around">
    <div class="row d-flex align-items-stretch">
        <div class="col-md-3 d-flex">
            <div class="card d-flex" style="width: 18rem;">
                <img class="card-img-top" src="images/title-search.jpg" alt="Title search">
                <div class="card-body">
                    <h5 class="card-title">Title Search</h5>
                    <p class="card-text">CTS provides complete property searches, with the last deed of record and associated chain of title,
                        along with complete mortgage schedule (done as per the client requirements).</p>

                </div>
                <div class="card-footer">
                    <a href="titlesearch" class="btn btn-primary">More details...</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex">
                <div class="card d-flex" style="width: 18rem;">
                    <img class="card-img-top" src="images/Commitment-typing.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Commitment Typing</h5>
                        <p class="card-text">The completed Title Search (whether compiled by CTS directly or a third party) will be used as a base
                            for preparing the Prelim or Commitment.</p>
                    </div>
                    <div class="card-footer">
                        <a href="commitmenttyping" class="btn btn-primary">More details...</a>
                    </div>
    
                </div>
            </div>
        <div class="col-md-3 d-flex">
            <div class="card d-flex" style="width: 18rem;">
                <img class="card-img-top" src="images/Property-Tax.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Property Tax</h5>
                    <p class="card-text"><p>
                            We provide detailed tax report which will contain following information
                        </p>
                        <ul>
                            <li>
                                Parcel Identification Number
                            </li>
                            <li>Tax ID#.</li>
                            <li>and more...</li>
                        </ul></p>
                </div>
                <div class="card-footer">
                    <a href="taxservices" class="btn btn-primary">More details...</a>
                </div>

            </div>
        </div>
        <div class="col-md-3 d-flex">
            <div class="card d-flex" style="width: 18rem;">
                <img class="card-img-top" src="images/Settlement-services.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Settlement Services</h5>
                    <p class="card-text">We prepare HUD settlement statement based upon lender’s closing instructions and the requirements of
                        the title insurance commitment
                    </p>
                </div>
                <div class="card-footer">
                    <a href="settlementservices" class="btn btn-primary">More details...</a>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $('.carousel').carousel({
        interval: 8000
    });
</script>

<!-- <article class="tile">
    <div class="article-container">
        <div class="article-title-container">
                <div class="article-title" style="height: 50%">
                        <h1>What we do?</h1>
                    </div>
                    <div class="article-image" style="height: 50%">
                            <img src="images/home.jpg" alt="">
                    </div>
        </div>
        <div class="article-text">
            <p>
                <span class="start">Concept Title Services</span> is a customer focused company. We are located in Cypress, Texas. One of the
                most important lessons we’ve learned throughout the years is to always keep customer Service a top priority.
                We treat each client like our only customer. We communicate quickly and intentionally to ensure our clients
                are in the know. We have fast turnaround times with highest quality. We make it happen.</p>
            <p>
                CTS consistently provides timely title searches, tax reports, and settlement services to mortgage loan originators, lenders
                and servicers while maintaining the highest standards of quality through the effective use of technology
                delivered by a well-trained, professional staff.”
            </p>
            <p class="sec">
                <span class="start">
                    Streamline Your Searches and Improve Your Accuracy
                    <br/>
                </span>
                Our single-source access property reports are a valuable resource when you need to quickly obtain comprehensive property
                and ownership information nationwide. These simple to use non-insured and insured title reports are ideal
                for closings of equity and home improvement loans, early stage delinquency and loan due diligence.
                <br/>Our electronic data capabilities produce results instantaneously, and when electronic data is not available
                our extensive network of independent abstractors makes it possible to secure information in as little as
                24 to 48 hours. Our property report solutions are ideal for lenders, investors, servicers, realtors, appraisers,
                and title companies looking to improve productivity, reduce costs and maitain the highest and standards of
                quality.

            </p>
        </div>

    </div>
</article>
<article class="tile">
    <div class="article-container reverse">
        <div class="article-title">
            <h1>Why choose us?</h1>
        </div>
        <div class="article-text">
            <p>
                CTS has a combined experience of 25 years in title searches, tax reports, and settlement services and we believe in Extraordinary
                Service & extraordinary service is our mission. Our founders believed the combination of the right technology
                and the right people, could build a title service firm that would both promise and deliver extraordinary
                service to the lending market.
                <p class="sec">
                    <span class="start">
                        Safety & Security:
                    </span>
                    We employ the highest standard of technology available in order to make sure all personal information is safe and secure
                    throughout the entire transaction

                </p>
                <p class="sec">
                    <span class="start">
                        Communication is Key:
                    </span>
                    We’re right in the mix of things to make sure all involved parties are informed throughout the entire transaction; from start
                    to finish.

                </p>

        </div>

    </div>
</article>
<article class="tile">
    <div class="article-container">
        <div class="article-title">
            <h1>Mission</h1>
        </div>
        <div class="article-text">
            <p>
                CTS mission is to be the premier real estate settlement service provider focused on customer service. We will utilize the
                highest level of technology, along with the most talented and ethical staff, to develop partnerships with
                our customers and communities. We will work toward our continued goal of growth, both locally and nationally.
                </p>

        </div>

    </div>
</article> -->