<div id="submenu">
    <ul class="pl-0">
        <li class="text-center pt-2 pb-2 titlesearch">
            <a href="titlesearch">Title search</a>
        </li>
        <li class="text-center pt-2 pb-2 taxservices">
            <a href="taxservices">Tax services</a>
        </li>
        <li class="text-center pt-2 pb-2 commitmenttyping">
            <a href="commitmenttyping">Commitment typing</a>
        </li>
        <li class="text-center pt-2 pb-2 settlementservices">
            <a href="settlementservices">Settlement services</a>
        </li>                                                
    </ul>
</div>