<div class="row">
    <div class="col-md-9">
            <div class="p-0 mb-5">  
                    <div class="row">
                        <div class="col-md-5">
                                <img src="images/Property-Tax.jpg" class="header-image" alt="">
                        </div>
                        <div class="col-md-7">
                                <article class="tile">
                                        <div class="article-container headcontainer">
                                            <div class="article-title">
                                                <h1>Tax Services</h1>
                                            </div>
                                            <div class="article-text">
                                                <p>
                                                    We provide detailed tax report which will contain following information
                                                </p>
                                                <ul>
                                                    <li>
                                                        Parcel Identification Number
                            
                                                    </li>
                                                    <li>Tax ID#.</li>
                                                    <li>Land and Building value.</li>
                                                    <li>Assessed Value.</li>
                                                    <li>Type of Exemptions.</li>
                                                    <li>Tax year.</li>
                                                    <li>Tax Period. (annually or installments)</li>
                                                    <li>Date Paid and the Amount.</li>
                                                    <li>Delinquent taxes.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-md-3">
        <sub-menu current-item="taxservices" />
    </div>
</div>