<div class="row">
    <div class="col-md-9">
        <div class="p-0 mb-5">  
            <div class="row">
                <div class="col-md-5">
                        <img src="images/title-search.jpg" class="header-image" alt="">
                </div>
                <div class="col-md-7">
                        <article class="tile">
                                <div class="article-container headcontainer">
                                    <div class="article-title">
                                        <h1>Title Search</h1>
                                    </div>
                                    <div class="article-text">
                                        <p>
                                            CTS provides complete property searches, with the last deed of record and associated chain of title, along with complete
                                            mortgage schedule (done as per the client requirements). CTS searches include a complete abstract,
                                            consisting of running Judgments, checking for Lis Pendens and bankruptcies, and copies of all
                                            associated documents.
                                        </p>
                                        <hr>
                                        <p>
                                            A complete Tax report of the property and deed image in support of legal description and last owner of record is also be
                                            provided. All information is collected from the county or auditor's office to complete the property
                                            information
                                        </p>
                                    </div>
                                </div>
                            </article>
                </div>
            </div>
        </div>
        
        <article class="notile">
            <div class="article-container">
                <div class="article-title">
                    <h2>1 and 2 Owner Searches</h2>
                    <hr>
                </div>

                <div class="article-text">
                    <div class="description">
                        <p>
                            Our Team investigate property information pertaining to Ownership Legal Description, Liens and details to the last full value
                            deed/out-of-family transfer in these reports. The Two Owner search goes back one additional deed
                            transfer
                        </p>
                    </div>

                    <div class="list">
                        <p>The searches include</p>
                        <ul>
                            <li>Vesting deed on record</li>
                            <li>Search on back deed to complete two owner report</li>
                            <li>Encumbrances including all open mortgages/ deeds of trust, assignments, all other instruments
                                pertaining to mortgage/deed of trust, judgments and UCC filings</li>
                            <li>Tax information including assessment information, payment status, Due dates, special assessments
                                and Credits
                            </li>
                            <li>
                                Subdivision Plans, Tax Maps, Plat Maps if available. (Non availability of these recorded plans, if necessary we make a copy
                                of Assessor map)
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </article>
        <article class="notile">
            <div class="article-container">
                <div class="article-title">
                    <h2>Deed Report/ Vesting Report</h2>
                    <hr>
                </div>
                <div class="article-text">
                    <div class="description">
                        <p>
                            Legal and Vesting Report provides a concise overview of residential property vesting, with current ownership information
                            of a property along with a legal description
                        </p>
                    </div>
                    <div class="list">
                        <p>This Report includes</p>
                        <ul>
                            <li>Tax ID/parcel # or Tax info</li>
                            <li>Vesting/current ownership</li>
                            <li>Current deed and legal Description</li>
                        </ul>
                    </div>
                </div>

            </div>
        </article>
        <article class="notile">
            <div class="article-container">
                <div class="article-title">
                    <h2>Bring Down Report/Closing Update</h2>
                    <hr>
                </div>
                <div class="article-text">
                    <div class="list">
                        <p>Bring Down Report includes</p>
                        <ul>
                            <li>Update on Tax info from last effective date</li>
                            <li>Any and all newly recorded instruments from last effective date.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <article class="notile">
            <div class="article-container">
                <div class="article-title">
                    <h2>Lien Search</h2>
                    <hr>
                </div>
                <div class="article-text">
                    <div class="list">
                        <p>Lean Search report includes</p>
                        <ul>
                            <li>Judgments and Tax Liens against the owners/property for desired number of years.</li>
                            <li>Judgments and Liens against block and lot</li>
                            <li>Homeowner association liens</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <article class="notile">
            <div class="article-container">
                <div class="article-title">
                    <h2>10/20/30 Year Searches</h2>
                    <hr>
                </div>
                <div class="article-text">
                    <div class="list">
                        <p>This report includes</p>
                        <ul>
                            <li>Current vesting deed</li>
                            <li>All chain of title deed covering desired number of years</li>
                            <li>Complete legal description</li>
                            <li>Encumbrances including all open mortgages/ deeds of trust, assignments, all other instruments
                                pertaining to mortgage/deed of trust, judgments and UCC filings.</li>
                            <li>All encumbrances of record ( Easements/Restrictions/Rights-of-Way, list of all open Judgments
                                and Tax Liens against the owners/property for desired number of years.</li>
                            <li>Tax information including assessment information, payment status, Due dates, special assessments
                                and Credits.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
        <article class="notile">
            <div class="article-container">
                <div class="article-title">
                    <h2>REO Title Report/Full Search</h2>
                    <hr>
                </div>
                <div class="article-text">
                    <div class="description">
                        <p>A REO Title Report runs a thorough search of all aspects of the property history</p>
                    </div>
                    <div class="list">
                        <p>Title Searches Includes</p>
                        <ul>
                            <li>Chain of Title – Full Search</li>
                            <li>Property easements and encumbrances</li>
                            <li>Legal Description of The Property</li>
                            <li>Mortgage/Deed of Trust, Liens, Judgments, etc.</li>
                            <li>Records related to Foreclosure and Tax Sale</li>
                            <li>Assessment & Tax Status</li>
                        </ul>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="col-md-3">
        <sub-menu current-item="titlesearch" />
    </div>
</div>